<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Config Explorer</title>
    <link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/build/css/bootstrap-enterprise.css" />
    <link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/css/build/pages/dashboard-simple-bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/config_explorer/config.css" />
	<link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/config_explorer/OverlayScrollbars.min.css" />
    <meta name="referrer" content="never" />
    <meta name="referrer" content="no-referrer" />
</head>

<body class="simplexml locale-en" data-splunk-version="7.0.0" data-splunk-product="enterprise" style="overflow:hidden;">
    <header>
        <a class="navSkip" href="#navSkip" tabindex="1"></a>
        <div class="header splunk-header">
            <div id="placeholder-splunk-bar">
                <a href="{{SPLUNKWEB_URL_PREFIX}}/app/launcher/home" class="brand" title="splunk &gt; listen to your data">splunk<strong>&gt;</strong></a>
            </div>
        </div>
    </header>
    <div class="dashboard-body container-fluid main-section-body ce_no_write_access ce_no_run_access ce_no_settings_access ce_no_git_access ce_loading" data-role="main">
		<div class="ce_spinner spinner">
			<div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
		</div>		
		<div class="ce_app_bar"></div>
		<div class="ce_wrap">
			<div class="ce_tree_pane">
				<div class="ce_tree_icons">
					<i title='Previous folder' class='ce_clickable_icon ce_folder_up icon-arrow-left'></i>
					<i title='Refresh' class='ce_clickable_icon ce_refresh_tree icon-rotate-counter'></i>
					<i title='Filter files' class='ce_clickable_icon ce_filter icon-text'></i>
					<i title='Splunk conf files' class='ce_show_confs ce_clickable_icon icon-bulb'></i>
					<i title='Recent files' class='ce_recent_files ce_clickable_icon icon-list'></i>
					<!--<i title='Uncommitted changes' class='ce_clickable_icon ce_disabled icon-distributed-environment'></i>-->
					<i title='Create new folder in current directory' class='ce_add_folder ce_clickable_icon icon-folder'></i>
					<i title='Create new file in current directory' class='ce_add_file ce_clickable_icon icon-report'></i>
					<i title='Run a shell command' class='ce_app_run ce_clickable_icon icon-expand-right'></i>
					<i title='Upload a file' class='ce_upload_file ce_clickable_icon icon-plus'></i>
				</div>
				<div class="ce_file_path"></div>
				<div class="ce_file_list">
					<div class="ce_file_wrap"></div>
				</div>
			</div>
				<div class="ce_resize_column"></div>
			<div class="ce_container">
				<div class="ce_home_tab ce_active">
					<i title='Home' class='ce_home_icon ce_clickable_icon icon-star'></i>
				</div>
				<div class="ce_tabs"></div>
				<div class="ce_contents"></div>
				<div class="ce_contents_home">
					<img class='ce_bg_image' src="{{SPLUNKWEB_URL_PREFIX}}/static/app/config_explorer/mirage-upgrade.png" />
					<div class='ce_app_name'><span class='ce_app_title'>Config Explorer</span> for <i class="icon-splunk"></i></div>
					<div class='ce_tagline'>by Chris Younger</div>
					<div class='ce_marginbottom'>
						<span class="ce_app_settings"><span class="btn">Settings</span> Change the Config Explorer settings.</span> Theme: 
							<span class="ce_theme ce_link" data-theme="vs-dark">dark</span> | 
							<span class="ce_theme ce_link"  data-theme="vs">light</span> | 
							<span class="ce_theme ce_link" data-theme="hc-black">high contrast</span>
					</div>
					<div class='ce_marginbottom ce_app_changelog'>
						<span class='btn'>Change log</span> Review changes made using Config Explorer.
					</div>
					<div class='ce_actions_wrapper'>
						<div>
							<div class='ce_app_devlinks'>
								Developer actions
							</div>
							<div class='ce_actions_area'>
								<div class='ce_marginbottom ce_app_errors'>
									<span class='btn'>btool check</span>
									Show invalid Splunk configuration
								</div>
								<div class='ce_marginbottom'>
									<span class="ce_splunk_reload btn">debug/refresh</span>
									Reload all endpoints
								</div>
								<div class=''>
									<span class="ce_splunk_reload btn" data-endpoint="bump">bump</span>
									Splunk cache bump for css and js files.
								</div>
							</div>
						</div>
						<div>
							<div class='ce_app_devlinks'>
								Custom actions
							</div>
							<div class='ce_custom_actions ce_actions_area'>
							</div>
						</div>
					</div>
					<div>
						<a href="/static/docs/style/style-guide.html" target="_blank">Splunk style guide</a> | 
						<a href="search?q=search%20index%3D_internal%20source%3D*config_explorer.log" target="_blank">Logging</a> | 
						<a href="https://github.com/ChrisYounger/config_explorer" target="_blank">Config Explorer help, bugs and enhancements</a>
					</div>
				</div>
			</div>
		</div>
		<div class="ce_toaster"><i class="icon-check"></i><span>Saved</span></div>
		<div class="ce_context_menu_overlap ce_hidden"></div>
		<div class="ce_context_menu_wrap"></div>
    </div>
    <script src="{{SPLUNKWEB_URL_PREFIX}}/config?autoload=1" crossorigin="use-credentials"></script>
    <script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/i18n.js"></script>
    <script src="{{SPLUNKWEB_URL_PREFIX}}/i18ncatalog?autoload=1"></script>
    <script src="{{SPLUNKWEB_URL_PREFIX}}/static/build/simplexml/index.js"></script>	
	<script src="{{SPLUNKWEB_URL_PREFIX}}/static/app/config_explorer/config.js"></script>
</body>
</html>

