.red {
	color: #dd6a6f;
}
.bold {
	font-weight: bold;
}
.dashboard-body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #1e1e1e;
}
.dashboard-body a,
.dashboard-body a:hover {
	color: #00A4FD
}
.dashboard-body.ce_loading {
    height: 100%;
    position: absolute;
    width: 100%;
}
.ce_loading .ce_wrap {
	visibility: hidden;
}
.ce_no_write_access .ce_add_file,
.ce_no_write_access .ce_add_folder,
.ce_no_write_access .ce_upload_file,
.ce_no_write_access .ce_rename_icon,
.ce_no_write_access .ce_delete_icon {
	display: none;
}
.ce_no_run_access .ce_app_run {
	display: none;
}
.ce_no_settings_access .ce_app_settings {
	display: none;	
}
.ce_no_git_access .ce_app_changelog {
	display: none;	
}
.dashboard-body * {
	box-sizing: border-box;
}
.dashboard-body a:focus,
.dashboard-body a:active {
	box-shadow: none !important;
}
.ce_bg_image {
	position: absolute;
    right: -37px;
    opacity: 0.2;
    width: 450px;
    bottom: -40px;
}
.ce_tab_saving_icon {
	color: #00A4FD;
	animation: pulsate 1s infinite linear;
}
@keyframes pulsate{
	0% {
		transform: scale(0.8, 0.8);
		opacity: 0.2;
	}
	50% {
		transform: scale(1.2, 1.2);
		opacity: 1.0;
	}
	100% {
		transform: scale(0.8, 0.8);
		opacity: 0.2;
	}		
}
.ce_cancel {
    text-align: center;
    margin: 30px 10px;
}
.ce_timer {
    color: #ccc;
    text-align: center;
}
.ce_wrap {
	position: absolute;
    background-color: #353535;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.ce_file_wrap i{
	margin-right: 4px;
}
.ce_leftnav {
    cursor: pointer;
    white-space: nowrap;
    padding: 2px 10px 2px 19px;
    text-overflow: ellipsis;
    overflow: hidden;	
	border-left: 3px solid #1d1d1d
}
.ce_leftnav:hover {
    background-color:#2a2d2e;
	border-left: 3px solid #00A4FD;
}
.ce_leftnav_highlighted {
    background-color: rgba(0, 99, 153, 1) !important;
}
.ce_tree_pane {
	position: absolute;
	width: 280px;
	height: 100%;
	background-color: #1d1d1d;
}
.ce_tree_pane .ce_spinner {
    position: absolute;
    left: 0;
    right: 0;
    transform: scale(0.75);
    text-align: center;
}
.ce_tree_icons{
	display: flex;
	justify-content: space-evenly;
	height: 38px;
    background-color: #404040;
    color: #ccc;
	padding: 5px 0;
}
.ce_tree_icons .ce_clickable_icon {
	border: 2px solid #404040;
	padding-top: 3px;
    border-radius: 6px;	
}
.ce_tree_icons .ce_selected {
	border: 2px solid #00A4FD;
    color: #00A4FD;
}
.ce_treenothing .icon-warning, .ce_treeempty .icon-warning {
	margin-right: 8px;
}
.ce_treenothing, .ce_treeempty {
	white-space: nowrap;
    padding: 40px 10px 2px 22px;
    text-overflow: ellipsis;
    overflow: hidden;	
}
.ce_treeempty{
	opacity: 0.4;
}
.ce_treehighlight,
.ce_treenothing_text {
	color: #00A4FD;
}
.ce_link {
	color: #00A4FD;
	text-decoration: underline;
	cursor: pointer;
}
.tooltip.in {
    opacity: 0.95
}
input[type=text].ce_treesearch_input{
    background-color: rgb(64, 64, 64);
    color: white;
    position: absolute;
    z-index: 9;
    top: 38px;
    font-size: 12px;
    border: 0px none;
    left: 19px;
    height: 28px;
    display: block;
    box-shadow: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
input[type=text].ce_treesearch_input::placeholder {
  color: #bfbfbf;
}
.ce_file_path {
    line-height: 22px;
    white-space: nowrap;
    padding: 8px 10px 2px 22px;
    text-overflow: ellipsis;
    overflow: hidden;
	color: white;
}
.ce_file_list {
	color: #ccc;
    position: absolute !important;
    margin: 0;
    padding: 0;
    top: 70px;
    /* overflow-x: hidden; */
    bottom: 4px;
    width: 100%;
}
.ce_file_wrap {
	opacity: 1;
	transform: translate(0px, 0px);
	padding: 4px 0;
	transition: all 300ms;
}
.ce_move_fwd , .ce_move_back , .ce_move_none  {
	opacity: 0;
}
.ce_move_fwd {
	transform: translate(-200px, 0px);
}
.ce_move_back {
	transform: translate(200px, 0px);
}

.ce_rtl{
	direction:rtl;
}
.ce_file_path > bdi {
	display: none;
}
.ce_file_path.ce_rtl > bdi {
	display: inline;
}
.ce_file_path.ce_rtl > span {
	display: none;
}
.ce_file_path .ce_right_icon {
	background-color: transparent;
}
.ce_container {
    position: absolute;
	left: 283px;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #404040;
    padding-left: 6px;
}
.ce_resize_column {
    top: 0;
    bottom: 0;
	left: 280px;
    position: absolute;
    background: #404040;
    width: 3px;
    cursor: col-resize;
    z-index: 12;
}
.ce_tabs {
    height: 38px;
    position: absolute;
    left: 34px;
    right: 0;
    top: 0;
    display: flex;
    background-color: #404040;
    color: #ccc;
    padding-right: 4px;
}
.ce_home_tab {
    position: absolute;
    width: 34px;
    line-height: 34px;
    cursor: pointer;
    color: #ccc;
    background-color: #404040;
    left: 0;
    padding-left: 6px;
    top: 0;
    height: 40px;
    margin-top: 4px;
}
.ce_app_name {
	font-size: 20px;
	font-weight: 200;
	padding-right: 20px;	
}
.ce_app_name i {
    font-size: 22px;
}
.ce_app_title {
    color: white;
	font-size: 26px;
    letter-spacing: -1px;
}
.ce_theme_vs .ce_app_title {
	color: black;
}
.ce_actions_wrapper {
    display: flex;
}
.ce_app_devlinks {
    font-size: 16px;
    margin-top: 50px;
	font-weight: bold;
    margin-bottom: 10px;
}
.ce_actions_area{
    background-color: #252525;
    padding:10px;
    margin-bottom: 40px;
    margin-right: 60px;
    min-width: 350px;
}
.ce_theme_vs .ce_actions_area {
    background-color: #eaeaea;
}
.ce_tagline {
    font-size: 10px;
    letter-spacing: 3px;
    margin-bottom: 40px;
    opacity: 0.3;
}
.ce_marginbottom {
    margin-bottom:20px;
}
.ce_contents_home .btn {
    margin-right: 8px;
}
.ce_home_buttonset {
    margin-top:30px;
    margin-bottom: 30px;
}
.ce_tab {
    position: relative;
    width: 220px;
    line-height: 36px;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 2px 0 8px;
    cursor: pointer;
    margin-top:4px;
}
.ce_pipe  {
    position: absolute;
    right: 0px;
    margin-top: 6px;
    height: 21px;
    width: 0px;
    z-index: 4;
    margin-right: 0px;
    border-right: 1px solid #262626;
}
.ce_pipe_left  {
    position: absolute;
    left: 0px;
    margin-top: 6px;
    border-left: 1px solid #262626;
    height: 21px;
    width: 0px;
    z-index: 4;
    margin-left: 0px;
}
.ce_tab_new {
    width: 30px;
    position: relative;
    line-height: 32px;
    border-right: 1px solid black;
    text-align: center;
}
.ce_tab_new > i {
    padding: 4px 8px;
    cursor: pointer;
    color: #c3cbd4; 
}
.ce-dim{ 
    color: #aaa;
}
.ce_tab_new > i:hover {
    color: #00A4FD;
}
.ce_tab:hover {
    color: white;
}
.ce_home_tab.ce_active,
.ce_tab.ce_active {
	background-color: #1d1d1d;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    color: white;
	z-index: 9;
    box-shadow: inset -6px 0 6px 0px #1d1d1d;
}
.ce_theme_vs .ce_home_tab.ce_active,
.ce_theme_vs .ce_tab.ce_active {
	background-color: #fffffe;
    box-shadow: inset -6px 0 6px 0px #fffffe;
	color: black;
}
.ce_theme_hc-black .ce_home_tab.ce_active,
.ce_theme_hc-black .ce_tab.ce_active {
	background-color: black;
    box-shadow: inset -6px 0 6px 0px black;	
}
.ce_tab .ce_right_icon {
    background-color: #404040;
	box-shadow: 0 0 4px 4px #404040;
}
.ce_tab.ce_active .ce_right_icon {
    background-color: #1d1d1d;
	box-shadow: 0 0 4px 4px #1d1d1d;
}
.ce_theme_vs .ce_tab.ce_active .ce_right_icon {
    background-color: #fffffe;
	box-shadow: 0 0 4px 4px #fffffe;
}
.ce_clickable_icon {
	cursor: pointer;
	color: white;	
	font-size: 18px;
	padding: 5px;
}
.ce_theme_vs .ce_active .ce_clickable_icon {
	color: black;	
}
.ce_clickable_icon.ce_disabled {
	opacity: 0.5;
	cursor: not-allowed;
}
.ce_clickable_icon.ce_clickable_icon.ce_clickable_icon:not(.ce_disabled):hover {
	color: #00A4FD;
}
.ce_right_icon {
    position: absolute;
    right: 7px;
    padding: 2px 5px;
    font-size: 18px;
    margin-top: -2px;
    height: 34px;
}
.ce_restore_session {
    color: #c3cbd4;
    margin: 12px 30px;
    cursor: pointer;
    position: relative;
}
.ce_restore_session i  {
    font-size: 18px;
    color: white;
    position: absolute;
    left: -20px;
    top: 0px;
}
.ce_restore_session:hover i {
	color: #00A4FD;
}
.ce_restore_session:hover span  {
	text-decoration: underline;
}

.ce_recent_list {
	background-color: #2d2f31;
    color: white;
    position: absolute;
    max-width: 600px;
    max-height: 600px;
	overflow: hidden;
    left: 226px;
    top: 50px;
	list-style-type: none;
    padding: 10px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	z-index:10;
}
.ce_recent_list li {
	padding: 3px 6px 3px 9px;
    margin: 1px 0 2px 0;
	border-left: 3px solid transparent;
}
.ce_recent_list li.ce_selectable {
    cursor: pointer;
	color: #bbb;
	border-left: 3px solid transparent;
}
.ce_recent_list li.ce_selectable:hover {
	background-color: #262626;
	border-left: 3px solid #00A4FD;
}
.ce_right_icon.ce_right_two {
    right: 32px;    
}
.ce_contents_home {
    position:absolute;
	overflow: hidden;
    top: 38px;
	bottom: 0;
	left: 0;
	right: 0;
    color: #ccc;
    padding: 27px 27px 0 27px;
}
.ce_theme_vs .ce_contents_home {
	color: #4e4e4e;
}
.ce_contents {
    top: 38px;
	padding-top: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: #1e1e1e;
}
.ce_theme_vs .ce_contents {
	background-color: #fffffe;
}
.ce_theme_hc-black .ce_contents {
	background-color: black;
}
.ce_contents > div {
    height: 100%
}
.ce_contents a,
.ce_contents a:hover {
	color: inherit;
}
.ce_contents p {
	color: inherit;
}
.context-view.monaco-menu-container {
	font-family: Splunk Platform Sans,Proxima Nova,Roboto,Droid,Helvetica Neue,Helvetica,Arial,sans-serif !important;
	font-size: 14px;
}
.monaco-action-bar .actions-container  {
	padding: 10px 0;
}
.monaco-menu .monaco-action-bar.vertical .action-item > a,
.monaco-menu .monaco-action-bar.vertical .action-item > span {
	line-height: 2;
}
.monaco-menu .monaco-action-bar.vertical {
	background-color: #2d2f31 !important;
}
.monaco-menu .monaco-action-bar.vertical .action-item:not(.disabled) > a{
	background-color: inherit !important;
	color: #ccc !important;
}
.monaco-menu .monaco-action-bar.vertical .action-item:not(.disabled) {
	border-left: 3px solid transparent;
	background-color: #2d2f31;
}
.monaco-menu .monaco-action-bar.vertical .action-item:not(.disabled):hover {
	background-color: #262626;
	border-left: 3px solid #00A4FD;
}
.monaco-editor .scroll-decoration{
    /* disable the scroll shadow at the top */
    box-shadow: none !important;
}

.ce_hidden {
    display:none !important;
}
.ce_context_menu_overlap {
	position:absolute;
	background-color: rgba(0,0,0,0.2);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 12;
}
.ce_context_menu_wrap {
	position: absolute;
	opacity: 0;
	top: -9999px;
	left: -9999px;
	right: auto;
	bottom: auto;
	transition: opacity 300ms;
    background-color: #2d2f31;
    padding: 2px;
    min-width: 200px;
	max-width: 440px;
	overflow: hidden;
	text-overflow: ellipsis;
    box-shadow: 0 2px 8px #000;
	font-size: 13px;
    color: #bbb;
	white-space: nowrap;
	z-index: 13;	
}
.ce_context_menu_wrap > div {
	margin: 2px 2px; 
	padding: 4px 10px;
	border-left: 3px solid transparent;
}
.ce_context_menu_wrap > div:hover {
	background-color: #262626;
	cursor: pointer;
	border-left: 3px solid #00A4FD;
}
.ce_toaster {
	background-color: #53a051;
    width: 232px;
    height: 60px;
    position: absolute;
    right: 40px;
    bottom: 50px;
    line-height: 60px;
    padding: 0 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: white;
	visibility: hidden;
	opacity: 0;
	transform: translateY(30px);
	transition: all 200ms;
}

.ce_toaster i {
    font-size: 50px;
    position: absolute;
    color: white;
}
.ce_toaster span {
	margin-left: 60px;
}
.ce_toaster.ce_show {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

.modal-body {
	overflow: auto;
}
.modal-body  .pre-no-color{
	background-color: white;
	padding: 0;
	border: 0 none;
}
.modal-body  img{
	margin-bottom: 16px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border: 1px solid #e2e2e2;
	width: 700px;
}

.btn.btn-danger {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    box-shadow:none;
    background-color: #da4f49;
    background-image: linear-gradient(180deg,#ee5f5b,#bd362f);
    background-repeat: repeat-x;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(enabled = false)"));
}

.btn.btn-danger:hover {
    background: #e45753;
}

.btn.btn-inverse {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    box-shadow:none;
    background-color: #4983DA;
    background-image: linear-gradient(180deg,#5B65EE,#2F31BD);
    background-repeat: repeat-x;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(enabled = false)"));
}

.btn.btn-inverse:hover {
    background: #5B65EE;
}

.btn.btn-warning {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    box-shadow:none;
    background-color: #CC9622;
    background-image: linear-gradient(180deg,#E4A827,#CC9622);
    background-repeat: repeat-x;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(enabled = false)"));
}

.btn.btn-warning:hover {
    background: #E7B13B;
}
.btn-info {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    box-shadow:none;
    background-color: #49afcd;
    background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
    background-repeat: repeat-x;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}

.btn-info:hover {
    color: #fff;
    background: #2f96b4;
}
.btn.btn-disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.ceRedLine {
	border-left: 8px solid rgba(255,0,0,0.75);
}
.ceGreeenLine {
	border-left: 8px solid green;
}
.ceDimGreeenLine {
	border-left: 8px solid rgba(0,128,0,0.5);
}
.ceOrangeLine {
	border-left: 8px solid orange;
}
.ce_diff_addition { background-color: rgba(0,255,0,.2); }
.ce_diff_deletion { background-color: rgba(255,0,0,.2); }

.green {color: #65a637}
.red { color: #d6563c;}


.nobr {
	white-space: nowrap;
}
.ar {
	text-align:right;
}
.ce_changelog {
    padding: 10px;
    width: 100%;
    color: #d4d4d4;
    height: 100%;
    overflow-x: auto;
}
.ce_changelog table {
    width: 100%;
}
.ce_changelog tr:nth-child(even)  {
	background: rgba(0, 0, 0, 0.2);
}
.ce_changelog td{
	padding: 4px 12px;
}
.ce_changelog_buttons {
	width: 50px;
	display: inline-block;
}
.ce_changelog_filescol {
	width: 90%;
}
.ce_file_history {
	width: 100%;
    color: #d4d4d4;
    padding: 0 10px 0 30px;
    height: 100%;
    overflow-x: auto;
}
.ce_file_history h1 {
	margin-top:50px; 
	color: white;
}
.ce_file_history h1::first-letter {
    text-transform: uppercase;
}
.ce_file_history h1 span {
	font-size: 16px;
}
.ce_file_history p{
	font-family: Consolas, "Courier New", monospace;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0px;
	margin:0;
	position:relative;
}
.ce_diff_change p {
	padding-left: 20px;
}
.ce_diff_addition:before {
	content: "+";
    position: absolute;
    margin-left: -15px;
    margin-top: -1px;
}
.ce_diff_deletion:before {
	content: "-";
    position: absolute;
    margin-left: -15px;
    margin-top: -1px;
}
.ce_diff_change {
	margin: 6px 0 40px 0;
	padding: 6px;
	background-color: rgba(0, 0, 0, 0.2);
}
.ce_gitoutput {
	padding: 20px;
    color: #d4d4d4;
    overflow-x: auto;
    height: 100%;
}
.ce_gitoutput h2 {
	color: #dd6a6f;
}
.ce_pre,
.ce_gitoutput-out,
.ce_gitoutput-cmd {
	word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
	font-family: Consolas, "Courier New", monospace;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0px;
	background-color: #262626;
	padding: 10px;
}
.ce_pre {
	color: #ccc;
    background-color: inherit;
    border: 0 none;
}
.ce_theme_vs .ce_pre {
	color: inherit;
}
.ce_gitoutput-cmd {
	color: #569cd6;	
}
.ce_gitoutput-desc {
	color: #608b4e;
    margin-top: 20px;
    line-height: 32px;
    font-weight: bold;
    font-size: 16px;
}
/* http://tobiasahlin.com/spinkit/ */
html .ce_spinner {
	margin-top: 140px;
}
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #00A4FD;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
input.ce_file_upload_extract[type=checkbox] {
    transform: translateY(-3px);
    margin-right: 8px;
}
input.ce_run_cwd_radio[type=radio] {
	margin: 0 10px;
}
.ce_disclaimer {
	font-size: 10px;
}
.ce_fs_slow_message{
    margin-top: 200px;
    text-align: center;
}
.ce_fs_slow_message > div{
    margin-bottom: 10px;
}
.ce_pref_label {
    display: inline-block;
    margin-left: 20px;
	transform: translateY(-2px);

}
.ce_pref_advanced {
    width: 100%;
    height: 174px;
}
.ce_postsave_arg1 {
    margin-left:6px;
    width:470px;
}
.ce_postsave_strmatch_bad,
.ce_postsave_strmatch_good {
    margin-left:6px;
    width:150px;
}
.ce_postsave_background {
    width: 60px;
}